extends layout

block content

  div(class='content')
    for post in allPosts 
      div(class='postCard')
        div(class='messageContent')!=post.message
        div(class='postCardFooter')
          if currentUser && currentUser.membershipStatus
            //- make this a link that leads to page containing all posts made by this user
            p Posted by: 
              a(href=post.url) #{post.author}
            p Posted on: #{post.date}
          else
            p Posted by: 
              a(href=post.url) REDACTED
            p Posted on: REDACTED
        if currentUser && currentUser.adminStatus 
          a(href=post.url + '/delete' class='delete whiteText') DELETE POST

  div(class='status')
    //- ADD INDICATORS (RED/GREEN LIGHT) TO INDICATE STATUSES
    a(href='/membership') Membership Status 
    a(href='/admin') Admin Status

  if currentUser
    div(class='newPost')
      a(href='/newpost') New Post

  //- p #{currentUser}
