extends layout 

block content 
  h1= title
  for post in allPosts 
    div(class='postCard')
      //- p #{post.message}
      //- p!=post.message
      div(class='messageContent')!=post.message
      div(class='postCardFooter')
        if currentUser && currentUser.membershipStatus
          //- make this a link that leads to page containing all posts made by this user
          p Posted by: 
            a(href=post.url) #{post.author}
          p Posted on: #{post.date}
        else
          p Posted by: REDACTED
          p Posted on: REDACTED
        if currentUser && currentUser.adminStatus 
          a(href=post.url + '/delete') DELETE
