extends layout 

block content 
  div(class='content')
    div(class='postCard')
      div(class='messageContent')!=post.message
      div(class='postCardFooter')
        if currentUser && currentUser.membershipStatus
          p Posted by: 
            a(href=post.authorURL) #{post.author}
          p Posted on: #{post.date}
        else
          p Posted by: 
            a(href=post.authorURL) REDACTED
          p Posted on: REDACTED
      if currentUser && currentUser.adminStatus 
        a(href=post.url + '/delete' class='delete whiteText') DELETE POST

  div(class='status')
    div(class='formInput')
      a(href='/membership') Member Status:
      if currentUser && currentUser.membershipStatus
        div(class='indicator active')
      else 
        div(class='indicator disabled')
    div(class='formInput')
      a(href='/admin') Admin Status: 
      if currentUser && currentUser.adminStatus 
        div(class='indicator active')
      else 
        div(class='indicator disabled')

  if currentUser
    div(class='newPost')
      a(href='/newpost') New Post
